$bp-lg: 1920px; // 1920px
$bp-md: 992px;  // 992px
$bp-sm: 441px;  // 425px
$bp-xs: 320px;  // 320px


@mixin responsiveTablet() {
  @media screen and (max-width: $bp-md) {
    @content;
  }
}

@mixin responsivePhone() {
  @media screen and (max-width: $bp-sm) {
    @content;
  }
}

@mixin responsivePhoneSmall() {
  @media screen and (max-width: $bp-xs) {
    @content;
  }
}

@mixin responsiveCustom($value) {
  @media screen and (max-width: $value + px) {
    @content;
  }
}