@import "_breakpoints";
@import "_utils";
@import "_variables";

* {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: $black;
}

body {
  display: flex;
  overflow-x: hidden;
  width: 100%;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: toRem(1296);
  width: 100%;
  margin: toRem(160) toRem(50);
  gap: toRem(87);
  overflow: hidden;

  @include responsiveTablet {
    margin: toRem(64) toRem(40);
  }

  @include responsivePhone {
    margin: toRem(56) toRem(15);
  }
  @include responsivePhoneSmall {
    margin: toRem(56) toRem(15);
  }
}

.header {
  display: flex;
  flex-direction: column;
  max-width: 78%;

  @include responsiveTablet {
    max-width: 100%;
  }

  @include responsivePhone {
    max-width: 100%;
  }

  @include responsivePhoneSmall {
    max-width: 100%;
  }

  .header__title {
    font-size: toRem(64);
    font-weight: 600;

    @include responsiveTablet {
      font-size: toRem(40);
    }

    @include responsivePhone{
      font-size: toRem(32);
    }

    @include responsivePhoneSmall {
      max-width: toRem(200);
      word-wrap: break-word;
    }

    span {
      color: $orange
    }
  }

  .header__desc {
    margin-top: toRem(32);
    font-size: toRem(32);
    line-height: 39px;
    font-weight: 500;

    @include responsiveTablet {
      font-size: toRem(24);
      margin-top: toRem(24);
      line-height: 29px;
    }

    @include responsivePhone {
      font-size: toRem(24);
      margin-top: toRem(16);
      line-height: 29px;
    }
  }
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'title preview' 'desc preview' 'link preview' 'controls preview';
  width: 100%;
  background-color: $bg-block;
  border-radius: 30px;
  padding: toRem(64);
  gap: 0 115px;
  position: relative;

  @include responsiveCustom('1300') {
    gap: 0 30px;
  }

  @include responsiveTablet {
    grid-template-columns: 1fr;
    grid-template-areas: 'controls' 'preview' 'title' 'desc' 'link';
    padding: toRem(40) toRem(24);
    margin-top: toRem(100);
    border-radius: 16px;
  }

  @include responsivePhone {
    grid-template-columns: 1fr;
    grid-template-areas: 'controls' 'title' 'desc' 'preview' 'link';
    margin-top: toRem(110);
  }

  @include responsivePhoneSmall {
    margin-top: toRem(140);
  }

  .content__title {
    font-size: toRem(40);
    font-weight: 600;
    grid-area: title;
    z-index: 10;

    @include responsiveTablet {
      padding-top: toRem(48);
      width: 100%;
      font-size: toRem(32);
      max-width: 100%;
    }

    @include responsivePhone {
      padding-top: 0;
      font-size: toRem(24);
    }
  }

  .content__desc {
    font-size: toRem(24);
    font-weight: 400;
    margin-top: toRem(32);
    line-height: 34px;
    max-width: toRem(475);
    grid-area: desc;
    z-index: 10;

    @include responsiveTablet {
      max-width: 100%;
    }

    @include responsivePhone {
      margin-top: toRem(16);
      font-size: toRem(20);
      line-height: 28px;
    }
  }

  .content__link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: toRem(35);
    border: 2px solid $black;
    border-radius: 8px;
    width: toRem(310);
    height: toRem(52);
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    transition: .3s;
    flex-shrink: 0;
    grid-area: link;
    letter-spacing: 1.5px;

    &:hover {
      border-color: #725EF2;
      transform: scaleX(101%);
    }

    @include responsiveTablet {
      width: 100%;
    }

    @include responsivePhone {
      margin-top: toRem(24);
      font-size: toRem(16);
      text-align: center;
    }

  }

  .content__controls {
    display: flex;
    flex-wrap: wrap;
    margin-top: toRem(54);
    gap: 8px;
    grid-area: controls;

    @include responsiveTablet {
      width: calc(100% + 88px);
      flex-wrap: nowrap;
      overflow-x: scroll;
      gap: 0;
      position: absolute;
      left: -24px;
      top: -223px;
      scrollbar-width: none !important;

      &::-webkit-scrollbar{
        display: none;
        -webkit-appearance: none;
      }
    }

    @include responsivePhone {
      flex-wrap: wrap;
      gap: 8px;
      width: calc(100% + 48px);
      top: -320px;
      margin-top: toRem(125);
      overflow: hidden;
      height: fit-content;
    }

    @include responsivePhoneSmall{
      top: -355px;
    }

    .content__button {
      display: flex;
      max-width: toRem(235);
      width: 100%;
      height: toRem(80);
      border-radius: 8px;
      background-color: transparent;
      border: 2px solid rgba(44, 45, 52, 0.1);
      align-items: center;
      cursor: pointer;
      transition: border .3s;


      @include responsiveTablet {
        width: toRem(220);
        border: none;
        flex-shrink: 0;
        border-bottom: 2px solid $purple-inactive;
        border-radius: 0;
      }

      @include responsivePhone {
        border: 2px solid rgba(44, 45, 52, 0.1);
        border-radius: 16px;
        max-width: toRem(193);
        min-width: toRem(135);
        width: auto;
        justify-content: center;
        max-height: toRem(58);
        flex: 1 1 toRem(135);
        height: toRem(58);
      }

      @include responsivePhoneSmall {
        height: toRem(75);
        max-height: none;
        max-width: toRem(141);
      }

      span {
        padding-left: toRem(20);
        max-width: toRem(195);
        font-weight: 400;
        font-size: toRem(16);
        text-align: left;
        transition: font-size .3s;

        @include responsiveTablet {
          text-align: center;
          text-transform: uppercase;
          color: $purple-inactive;
          font-weight: 700;
        }

        @include responsivePhone {
          display: block;
          font-size: toRem(14);
          color: $black;
          font-weight: 400;
          padding-left: 0;
          max-width: toRem(150);
          width: 100%;
          text-transform: capitalize;
        }
      }
    }

    .content__button-active {
      border: 2px solid $purple-active;

      @include responsiveTablet {
        border: none;
        border-bottom: 2px solid $purple-active;
      }

      @include responsivePhone {
        border: 2px solid $purple-active;
      }

      span {
        font-weight: 600;

        @include responsiveTablet {
          color: $purple-active;
        }

        @include responsivePhone {
          color: $black;
          font-weight: 600;
        }
      }
    }
  }


  .content__preview {
    display: flex;
    width: 100%;
    grid-area: preview;
    justify-content: center;

    @include responsiveTablet {
      padding: 0 toRem(89);
      overflow: hidden;
    }

    @include responsiveCustom('690') {
      padding: 0 toRem(25);
    }

    @include responsivePhone {
      padding: 0;
      margin-top: toRem(24);
      overflow: hidden;
    }

    .content__image {
      max-width: 100%;
      height: auto;
      object-fit: contain;
    }
  }
}

.arrow {
  position: absolute;
  top: 0;
  right: 0;
  background-image: url('../images/bg-arrow/desktop-arrow.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: toRem(600);
  height: toRem(300);
  content: '';
  z-index: 1;

  @include responsiveCustom('1650') {
    width: toRem(400);
  }

  @include responsiveTablet {
    background-image: url('../images/bg-arrow/tablet-arrow.svg');
    width: toRem(204);
    height: toRem(110);
  }

  @include responsivePhone {
    background-image: url('../images/bg-arrow/mobile-arrow.svg');
    width: toRem(185);
    height: toRem(110);
  }

  @include responsivePhoneSmall {
    top: 18px;
    background-image: url('../images/bg-arrow/mobile-small-arrow.svg');
    width: toRem(95);
    height: toRem(101);
  }
}

// ---------------------------------------

.content__image-fadein {
  animation: fadeIn .4s ease-in-out forwards;
}

.content__image-fadeout {
  animation: fadeOut .4s ease-in forwards;
}

@keyframes fadeIn {
  from {
    transform: rotate(-50deg) translateY(-80%) scale(50%);
    opacity: 0;
  }
  to {
    transform: rotate(0deg) translateY(0%) scale(100%);
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    transform: rotate(0deg) translateY(0%);
    opacity: 1;
  }
  to {
    transform: rotate(40deg) translateY(80%) scale(50%);
    opacity: 0;
  }
}
