@import "_breakpoints";
@import "utils";

:root {

}

* {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  max-width: $bp-lg;
  align-content: center;
  justify-content: center;
}

.wrapper {
  max-width: toRem(1296px);
}

.arrow {
  position: fixed;
  top: 0;
  right: 0;
  background-image: url('/assets/images/bg-arrow/desktop-arrow.svg');
  background-repeat: no-repeat;
  width: toRem(600);
  height: toRem(300);
  content: '';

  @include responsiveTablet {
    background-image: url('/assets/images/bg-arrow/tablet-arrow.svg');
    width: toRem(204);
    height: toRem(110);
  }

  @include responsivePhone {
    background-image: url('/assets/images/bg-arrow/mobile-arrow.svg');
    width: toRem(185);
    height: toRem(110);
  }

  @include responsivePhoneSmall {
    background-image: url('/assets/images/bg-arrow/mobile-small-arrow.svg');
    width: toRem(95);
    height: toRem(121);
  }
}
