@import "_breakpoints";
@import "utils";
@import "variables";

* {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: $black;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  max-width: $bp-lg;
  align-content: center;
  justify-content: center;
  margin: auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: toRem(1296);
  max-height: toRem(976);
  width: 100%;
  height: 100%;
  margin: auto;
  background-color: $white;
  gap: toRem(87);

  @include responsiveTablet {
    margin: auto toRem(40);
  }

  @include responsivePhone {
    margin: auto toRem(15);
  }
  @include responsivePhoneSmall {
    margin: auto toRem(15);
  }
}

.header {
  display: flex;
  flex-direction: column;
  max-width: 78%;

  @include responsiveTablet {
    max-width: 100%;
  }

  @include responsivePhone {
    max-width: 100%;
  }

  @include responsivePhoneSmall {
    max-width: 100%;
  }

  .header__title {
    font-size: toRem(64);
    font-weight: 600;

    @include responsiveTablet {
      font-size: toRem(40);
    }

    span {
      color: $orange
    }
  }

  .header__desc {
    margin-top: toRem(32);
    font-size: toRem(32);
    line-height: 39px;
    font-weight: 500;

    @include responsiveTablet {
      font-size: toRem(24);
    }
  }
}

.content {
  display: flex;
  width: 100%;
  background-color: $bg-block;
  border-radius: 30px;
  padding: toRem(64);

  .content__sidebar {
    display: flex;
    flex-direction: column;
    width: 50%;

    .content__title {
      font-size: toRem(40);
      font-weight: 600;
    }

    .content__desc {
      font-size: toRem(24);
      font-weight: 400;
      margin-top: toRem(32);
      line-height: 34px;
      max-width: toRem(475);
    }

    .content__link {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: toRem(40);
      border: 2px solid $black;
      border-radius: 8px;
      width: toRem(310);
      height: toRem(52);
      text-transform: uppercase;
      font-weight: 700;
      text-decoration: none;
      transition: .3s;

      &:hover {
        border-color: #725EF2;
        transform: scaleX(101%);
      }

    }

    .content__controls {
      display: flex;
      flex-wrap: wrap;
      margin-top: toRem(54);
      gap: 8px;

      .content__button {
        display: flex;
        max-width: toRem(235);
        width: 100%;
        height: toRem(80);
        border-radius: 8px;
        background-color: transparent;
        border: 2px solid rgba(44, 45, 52, 0.1);
        align-items: center;
        cursor: pointer;
        transition: border .3s;

        span {
          padding-left: toRem(20);
          max-width: toRem(189);
          font-weight: 400;
          font-size: toRem(16);
          text-align: left;
          transition: font-size .3s;
        }
      }

      .content__button-active {
        border: 2px solid $purple-active;

        span {
          font-weight: 600;
        }
      }
    }
  }

  .content_preview {
    display: flex;

    .content__image {
      max-width: toRem(559);
      height: auto;
    }
  }
}

.arrow {
  position: fixed;
  top: 0;
  right: 0;
  background-image: url('/assets/images/bg-arrow/desktop-arrow.svg');
  background-repeat: no-repeat;
  width: toRem(600);
  height: toRem(300);
  content: '';

  @include responsiveTablet {
    background-image: url('/assets/images/bg-arrow/tablet-arrow.svg');
    width: toRem(204);
    height: toRem(110);
  }

  @include responsivePhone {
    background-image: url('/assets/images/bg-arrow/mobile-arrow.svg');
    width: toRem(185);
    height: toRem(110);
  }

  @include responsivePhoneSmall {
    background-image: url('/assets/images/bg-arrow/mobile-small-arrow.svg');
    width: toRem(95);
    height: toRem(121);
  }
}

// ---------------------------------------

.content__image-fadein {
  animation: fadeIn .2s ease-in forwards;
}
.content__image-fadeout {
  animation: fadeOut .2s ease-in forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(70%);
  }
  100% {
    opacity: 1;
    transform: scale(100%);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: scale(100%);
  }
  100% {
    opacity: 0;
    transform: scale(70%);
  }
}
