* {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #2C2D34;
}

body {
  display: flex;
  overflow-x: hidden;
  width: 100%;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 81rem;
  width: 100%;
  margin: 10rem 3.125rem;
  gap: 5.4375rem;
  overflow: hidden;
}
@media screen and (max-width: 992px) {
  .wrapper {
    margin: 4rem 2.5rem;
  }
}
@media screen and (max-width: 441px) {
  .wrapper {
    margin: 3.5rem 0.9375rem;
  }
}
@media screen and (max-width: 320px) {
  .wrapper {
    margin: 3.5rem 0.9375rem;
  }
}

.header {
  display: flex;
  flex-direction: column;
  max-width: 78%;
}
@media screen and (max-width: 992px) {
  .header {
    max-width: 100%;
  }
}
@media screen and (max-width: 441px) {
  .header {
    max-width: 100%;
  }
}
@media screen and (max-width: 320px) {
  .header {
    max-width: 100%;
  }
}
.header .header__title {
  font-size: 4rem;
  font-weight: 600;
}
@media screen and (max-width: 992px) {
  .header .header__title {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 441px) {
  .header .header__title {
    font-size: 2rem;
  }
}
.header .header__title span {
  color: #FF7237;
}
.header .header__desc {
  margin-top: 2rem;
  font-size: 2rem;
  line-height: 39px;
  font-weight: 500;
}
@media screen and (max-width: 992px) {
  .header .header__desc {
    font-size: 1.5rem;
  }
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "title preview" "desc preview" "link preview" "controls preview";
  width: 100%;
  background-color: #F4F5FA;
  border-radius: 30px;
  padding: 4rem;
  gap: 0 115px;
  position: relative;
}
@media screen and (max-width: 1300px) {
  .content {
    gap: 0 30px;
  }
}
@media screen and (max-width: 992px) {
  .content {
    grid-template-columns: 1fr;
    grid-template-areas: "controls" "preview" "title" "desc" "link";
    padding: 2.5rem 1.5rem;
    margin-top: 4rem;
  }
}
@media screen and (max-width: 441px) {
  .content {
    grid-template-columns: 1fr;
    grid-template-areas: "controls" "title" "desc" "preview" "link";
  }
}
.content .content__title {
  font-size: 2.5rem;
  font-weight: 600;
  grid-area: title;
  z-index: 10;
}
@media screen and (max-width: 992px) {
  .content .content__title {
    padding-top: 3rem;
    width: 100%;
    font-size: 2rem;
    max-width: 100%;
  }
}
@media screen and (max-width: 441px) {
  .content .content__title {
    padding-top: 0;
    font-size: 1.5rem;
  }
}
.content .content__desc {
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 2rem;
  line-height: 34px;
  max-width: 29.6875rem;
  grid-area: desc;
  z-index: 10;
}
@media screen and (max-width: 992px) {
  .content .content__desc {
    max-width: 100%;
  }
}
@media screen and (max-width: 441px) {
  .content .content__desc {
    margin-top: 1rem;
    font-size: 1.25rem;
    line-height: 28px;
  }
}
.content .content__link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.1875rem;
  border: 2px solid #2C2D34;
  border-radius: 8px;
  width: 19.375rem;
  height: 3.25rem;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  transition: 0.3s;
  flex-shrink: 0;
  grid-area: link;
  letter-spacing: 1.5px;
}
.content .content__link:hover {
  border-color: #725EF2;
  transform: scaleX(101%);
}
@media screen and (max-width: 992px) {
  .content .content__link {
    width: 100%;
  }
}
@media screen and (max-width: 441px) {
  .content .content__link {
    margin-top: 1.5rem;
    font-size: 1rem;
    text-align: center;
  }
}
.content .content__controls {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3.375rem;
  gap: 8px;
  grid-area: controls;
  scrollbar-width: none !important;
}
@media screen and (max-width: 992px) {
  .content .content__controls {
    width: calc(100% + 88px);
    flex-wrap: nowrap;
    overflow-x: scroll;
    gap: 0;
    position: absolute;
    left: -24px;
    top: -200px;
  }
}
@media screen and (max-width: 441px) {
  .content .content__controls {
    flex-wrap: wrap;
    gap: 8px;
    width: calc(100% + 47px);
    top: -300px;
    margin-top: 7.8125rem;
  }
}
.content .content__controls .content__button {
  display: flex;
  max-width: 14.6875rem;
  width: 100%;
  height: 5rem;
  border-radius: 8px;
  background-color: transparent;
  border: 2px solid rgba(44, 45, 52, 0.1);
  align-items: center;
  cursor: pointer;
  transition: border 0.3s;
}
@media screen and (max-width: 992px) {
  .content .content__controls .content__button {
    width: 13.75rem;
    border: none;
    flex-shrink: 0;
    border-bottom: 2px solid rgba(114, 94, 242, 0.2);
    border-radius: 0;
  }
}
@media screen and (max-width: 441px) {
  .content .content__controls .content__button {
    border: 2px solid rgba(44, 45, 52, 0.1);
    border-radius: 16px;
    max-width: 12.0625rem;
    min-width: 8.8125rem;
    width: auto;
    justify-content: center;
    max-height: 3.625rem;
    flex: 1 1 auto;
    height: 3.625rem;
  }
}
@media screen and (max-width: 320px) {
  .content .content__controls .content__button {
    height: 4.6875rem;
    max-height: none;
  }
}
.content .content__controls .content__button span {
  padding-left: 1.25rem;
  max-width: 12.1875rem;
  font-weight: 400;
  font-size: 1rem;
  text-align: left;
  transition: font-size 0.3s;
}
@media screen and (max-width: 992px) {
  .content .content__controls .content__button span {
    text-align: center;
    text-transform: uppercase;
    color: rgba(114, 94, 242, 0.2);
    font-weight: 700;
  }
}
@media screen and (max-width: 441px) {
  .content .content__controls .content__button span {
    font-size: 0.875rem;
    color: #2C2D34;
    font-weight: 400;
    padding-left: 0;
    max-width: 5.8125rem;
    text-transform: capitalize;
  }
}
.content .content__controls .content__button-active {
  border: 2px solid #725EF2;
}
@media screen and (max-width: 992px) {
  .content .content__controls .content__button-active {
    border: none;
    border-bottom: 2px solid #725EF2;
  }
}
@media screen and (max-width: 441px) {
  .content .content__controls .content__button-active {
    border: 2px solid #725EF2;
  }
}
.content .content__controls .content__button-active span {
  font-weight: 600;
}
@media screen and (max-width: 992px) {
  .content .content__controls .content__button-active span {
    color: #725EF2;
  }
}
@media screen and (max-width: 441px) {
  .content .content__controls .content__button-active span {
    color: #2C2D34;
    font-weight: 600;
  }
}
.content .content__preview {
  display: flex;
  width: 100%;
  grid-area: preview;
  justify-content: center;
}
@media screen and (max-width: 992px) {
  .content .content__preview {
    padding: 0 5.5625rem;
  }
}
@media screen and (max-width: 441px) {
  .content .content__preview {
    padding: 0;
    margin-top: 1.5rem;
  }
}
.content .content__preview .content__image {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.arrow {
  position: absolute;
  top: 0;
  right: 0;
  background-image: url("/assets/images/bg-arrow/desktop-arrow.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 37.5rem;
  height: 18.75rem;
  content: "";
  z-index: 1;
}
@media screen and (max-width: 1650px) {
  .arrow {
    width: 25rem;
  }
}
@media screen and (max-width: 992px) {
  .arrow {
    background-image: url("/assets/images/bg-arrow/tablet-arrow.svg");
    width: 12.75rem;
    height: 6.875rem;
  }
}
@media screen and (max-width: 441px) {
  .arrow {
    background-image: url("/assets/images/bg-arrow/mobile-arrow.svg");
    width: 11.5625rem;
    height: 6.875rem;
  }
}
@media screen and (max-width: 320px) {
  .arrow {
    background-image: url("/assets/images/bg-arrow/mobile-small-arrow.svg");
    width: 5.9375rem;
    height: 7.5625rem;
  }
}

.content__image-fadein {
  animation: fadeIn 0.4s ease-in-out forwards;
}

.content__image-fadeout {
  animation: fadeOut 0.4s ease-in forwards;
}

@keyframes fadeIn {
  from {
    transform: rotate(-50deg) translateY(-80%) scale(50%);
    opacity: 0;
  }
  to {
    transform: rotate(0deg) translateY(0%) scale(100%);
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    transform: rotate(0deg) translateY(0%);
    opacity: 1;
  }
  to {
    transform: rotate(40deg) translateY(80%) scale(50%);
    opacity: 0;
  }
}

/*# sourceMappingURL=styles.css.map */
